/*高さを無限に大きくするための処理*/
html {
    height: 100%;
}

body {
    height: 100%;
}

textarea {
    /*ボーダーを消去*/
    border: none;
    /*リサイズできないようにする*/
    resize: none;
    /*textareaをタップした時の青い枠線を消去*/
    outline: none;
    /*横幅を画面幅に合わせる*/
    width: 100%;
    /*高さを画面幅に合わせる(高さを無限にする)*/
    height: 100%;
    /*フォントサイズを大きくする*/
    font-size: 130%;
}
